---
---

@import "{{ site.theme }}";

body {
    color: #21fc0d;
    background-color: #000000;
    background-image: none;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d1fae5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6ee7b7;
}

header {
    border: none;
}

p,ul,ol {
    padding: 1rem 0rem;
}

li {
    margin: 1rem 2rem;
}

h1,h2,h3,h4,h5 {
    color: #ecfdf5 !important;
    margin: 2rem 0.25m 0.5rem 0.25rem !important;
    padding: 1rem 0rem;
}

hr {
    padding: 1rem;
}

#main_content {
    img {
        box-shadow: 1px 1px 5px 1px #fde047;
    }

    a {
        color: #6ee7b7 !important;
        text-decoration: underline solid #6ee7b7 !important;
    }
    .language-plaintext {
        box-shadow: 1px 1px 5px 1px #2563eb;
        color: #ffffff !important;
        background-color: #2563eb;
    }
    div[class^=language], pre {
        margin: 1rem 0rem;
        box-shadow: 1px 1px 5px 1px #7e22ce;
        border-color: #7e22ce;
    }
    .highlighter-rouge {
        margin: 1rem 0rem;
        .na {
            color: #a3e635;
        }
        .pi {
            color: #fde047;
        }
        .s, .s2 {
            color: #22d3ee;
        }
        .m {
            color: #f472b6;
        }
        .nb {
            color: #a78bfa;
        }
        .nt {
            color: #2dd4bf;
        }
    }
    .gif-image {
        width: 100% !important;
        border-color: #7e22ce;
        border-width: 1px;
        border-radius: 5px;
        padding: 1rem 0rem;
        img {
            object-fit: contain !important;
        }
    }
}
